@import "tailwindcss";

:root {
	color: #cc0e44;
}

.corderius-red {
	color: #cc0e44;
}

.desc a {
	color: blue;
	text-underline: #cc0e44;
	text-decoration: underline;
}

.info-modal {
	height: fit-content;
}
